<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">PS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'add_record' %}">Agregar Registro</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        {% else %}
          
        {% endif %}
      
      </ul>
    </div>
  </div>
</nav>